In [4]:

x = set()
x = {5,7,5,8}

In [6]:
x.add(9)
x

{5, 7, 8, 9}

In [2]:
n = int(input())
arr = map(int, input().split(" "))
arr = set(arr)
arr = list(arr)
#final = [i for j, i in enumerate(arr) if i not in arr[:j]]
runner_up = sorted(arr)
print(runner_up[-2])

5
5 6 6 8 9
8

In [5]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()
x

dict_values(['Ford', 'Mustang', 1964])

In [10]:
d={}
for _ in range(int(input())):
        name = input()
        score = float(input())
        d[name] = score
print(d)
x =list(d)
print(x)

3
f
60
y
80
u
90
{'f': 60.0, 'y': 80.0, 'u': 90.0}
['f', 'y', 'u']

In [4]:
l=[]
for _ in range(int(input())):
        name = input()
        score = float(input())
        l.append([name, score])
print(l)

3
h
80
k
90
y
70
[['h', 80.0], ['k', 90.0], ['y', 70.0]]
{'h': 80.0, 'k': 90.0, 'y': 70.0}

In [14]:
x = dict(l)

In [15]:
y = x.values()
y

dict_values([80.0, 90.0, 70.0])

In [17]:
y = sorted(y)
y

[70.0, 80.0, 90.0]

In [19]:

from collections import OrderedDict 
  
dict = {'ravi':'10','rajnish':'9','sanjeev':'15','yash':'2','suraj':'32'} 
dict1 = OrderedDict(sorted(dict.items())) 
print(dict1)

OrderedDict([('rajnish', '9'), ('ravi', '10'), ('sanjeev', '15'), ('suraj', '32'), ('yash', '2')])

In [20]:
dictionary_of_names = {'beth': 37, 
                       'zane': 32,
                       'john': 41, 
                       'mike': 59
}

In [21]:
print(sorted(dictionary_of_names))

['beth', 'john', 'mike', 'zane']

In [22]:
print(dictionary_of_names.items())

dict_items([('beth', 37), ('zane', 32), ('john', 41), ('mike', 59)])

In [24]:
sorted_age = sorted(dictionary_of_names.items(), key = lambda kv: kv[1])
sorted_age

[('zane', 32), ('beth', 37), ('john', 41), ('mike', 59)]

In [26]:
y = list(sorted_age)
y

[('zane', 32), ('beth', 37), ('john', 41), ('mike', 59)]

In [29]:
y[0][0]

'zane'

In [32]:
if __name__ == '__main__':
    students = []
    for _ in range(int(input())):
        name = input()
        score = float(input())
        students.append([name, score])

    students = sorted(students, key = lambda x: x[1])

3
l
90
o
80
h
78

In [33]:
students

[['h', 78.0], ['o', 80.0], ['l', 90.0]]

In [38]:
if __name__ == '__main__':
    students = []
    for _ in range(int(input())):
        name = input()
        score = float(input())
        students.append([name, score])

    students = sorted(students, key = lambda x: x[1])
    #print(students)
    #second_lowest_score = students[1][1]
    second_lowest_score = sorted(list(set([x[1] for x in students])))[1]
    desired_students = []
    for stu in students:
        if stu[1] == second_lowest_score:
            desired_students.append(stu[0])
    print("\n".join(sorted(desired_students)))

4
priyanka
6
Gunjan
27
Madhuri
15
Emma
2
priyanka

In [39]:
students

[['Emma', 2.0], ['priyanka', 6.0], ['Madhuri', 15.0], ['Gunjan', 27.0]]

In [40]:
second_lowest_score

6.0

In [41]:
sorted(list(set([x[1] for x in students])))

[2.0, 6.0, 15.0, 27.0]

In [2]:
if __name__ == '__main__':
    n = int(input())
    student_marks = {}
    for _ in range(n):
        name, *line = input().split()
        scores = list(map(float, line))
        student_marks[name] = scores
    query_name = input()

3
Aksh 56 67 76
Gunj 67 78 89
Wapp 78 88 45
Wapp

In [3]:
student_marks

{'Aksh': [56.0, 67.0, 76.0],
 'Gunj': [67.0, 78.0, 89.0],
 'Wapp': [78.0, 88.0, 45.0]}

In [4]:
student_marks.values()

dict_values([[56.0, 67.0, 76.0], [67.0, 78.0, 89.0], [78.0, 88.0, 45.0]])

In [5]:
student_marks.keys()

dict_keys(['Aksh', 'Gunj', 'Wapp'])

In [6]:
query_name

'Wapp'

In [14]:
if query_name in student_marks.keys():
    for i in student_marks[query_name]:
        print(i)

78.0
88.0
45.0

In [17]:
if query_name in student_marks.keys():
    avg = sum(student_marks[query_name])/len(student_marks[query_name])
    print(round(avg,2))

70.33

In [13]:
student_marks[query_name][0]

78.0

In [11]:
6/3

2.0

In [18]:
if __name__ == '__main__':
    n = int(input())
    student_marks = {}
    for _ in range(n):
        name, *line = input().split()
        scores = list(map(float, line))
        student_marks[name] = scores
    query_name = input()
    
if query_name in student_marks.keys():
    avg = sum(student_marks[query_name])/float(len(student_marks[query_name]))
    print("%.3f" % avg)

2
a 3 4 5
b 5 6 7
a
4.000

In [20]:
name, *line = input().split()

a 4 4 4 4

In [21]:
line

['4', '4', '4', '4']

In [35]:
# Enter your code here. Read input from STDIN. Print output to STDOUT
if __name__ == '__main__':
    n = int(input())
    shoe_size=list(input().split(" "))
    tuple(map(int,raw_input().split(',')))
    total_cust = int(input())
    shop = ()
    for _ in range(total_cust):
        tuple(map(int,raw_input().split(',')))

6
4 5 6 4 8 4
5
4 40

TypeError: 'tuple' object does not support item assignment

In [34]:
shop

{'5': [50.0], '4': [40.0], '8': [100.0]}

In [32]:
shoe_size

['6', ' ', '7', ' ', '8']

In [37]:
tuple(map(int,input().split(',')))

5,6,7,8

(5, 6, 7, 8)

In [39]:
import collections

X = int(input())
sizes = collections.Counter(map(int, input().split()))
N = int(input())

money = 0

for i in range(N):
    (size, price) = map(int, input().split())

    if sizes[size] > 0:
        sizes[size] -= 1
        money += price

print(money)

5
56777
5
5 50
6 70
7 90
7 90
7 90
0

In [49]:
from collections import Counter

if __name__ == "__main__":
    X = int(input().strip())
    shoes = list(map(int, input().split(" ")))
    N = int(input().strip())
    result = 0
    
    warhs = Counter(shoes)
    for _ in range(N):
        size, money = map(int, input().strip().split(' '))
        
        if warhs[size] > 0:
            result += money
            warhs[size] -= 1
        
    print(result)

3
6 7 8
5
6 80
8 90
8 80
7 90
7 60000
260

In [55]:
money

60000

In [65]:
def count_substring(string, sub_string):
    for i in range(len(string)):
        a = string.count(sub_string)
        a += 1
        continue;
    return a

if __name__ == '__main__':
    string = input().strip()
    sub_string = input().strip()
    
    count = count_substring(string, sub_string)
    print(count)

rghrgh
ty
1

In [ ]:
def count_substring(string, sub_string):
    count = 0
    left = 0
    right = 1
    if string[left] == string[right]:
        count += 1
    return string.count(sub_string)

if __name__ == '__main__':
    string = input().strip()
    sub_string = input().strip()
    
    count = count_substring(string, sub_string)
    print(count)

In [59]:
s = "absd"
len(s)

4

In [74]:
def CountOccurrences(string, substring): 
  
    # Initialize count and start to 0 
    count = 0
    start = 0
  
    # Search through the string till 
    # we reach the end of it 
    while start < len(string): 
  
        # Check if a substring is present from 
        # 'start' position till the end 
        pos = string.find(substring, start) 
  
        if pos != -1: 
            # If a substring is present, move 'start' to 
            # the next position from start of the substring 
            start = pos + 1
  
            # Increment the count 
            count += 1
        else: 
            # If no further substring is present 
            break
    # return the value of count 
    return count
string = "abcdcdcdc"
substring = "cdc"
CountOccurrences(string,substring)

3

In [71]:
start = 0

In [72]:
pos = string.find(substring, start)
pos

0

In [86]:
import re
def hasNumbers(inputString):
     return bool(re.search(r'\d', inputString))
def hasAlpha(inputString):
    return bool(re.search('[a-zA-Z]+',inputString))
def hasAlphanum(inputString):
    return bool(re.search("^[a-zA-Z0-9]+$",inputString))
def islower(inputString):
    return bool(re.search('[a-z]+',inputString))
def isUpper(inputString):
    return bool(re.search('[A-Z]+',inputString))
inputString = input()
print(hasNumbers(inputString))
print(hasAlpha(inputString))
print(hasAlphanum(inputString))
print(islower(inputString))
print(isUpper(inputString))

#$%@^&*kjnk svskjnbui h 4oi3hheuh /dfh uidshvhdsuihv suihc 0hrem89m4c02mw4xo;,wh fwhncoishmxlxfkjsahnxu83v 08 n8OHOIHIOMOICWHOFCMHEOFMCOEJMC0J09C 03J J3L;JMFC3JM3JC3'JIOO9MMJ099U N090N9 OOHOLNHNLLKNLKNKNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKK3333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333000000000000000000000000000000000000000000000000000000000000000000000000000
True
True
False
True
True

In [81]:
hasAlpha(inputString)

True

In [82]:
hasAlphanum(inputString)

True

In [83]:
hasNumbers(inputString)

False

In [6]:
l= [[input(), float(input())] for _ in range(int(input()))]
print(l)

3
a
10
b
10
c
30
[['a', 10.0], ['b', 10.0], ['c', 30.0]]

In [7]:
def Sort(sub_li): 
  
    # reverse = None (Sorts in Ascending order) 
    # key is set to sort using second element of  
    # sublist lambda has been used 
    sub_li.sort(key = lambda x: x[1]) 
    return sub_li
Sort(l)

[['a', 10.0], ['b', 10.0], ['c', 30.0]]

In [8]:
l[-2][0]

'b'

In [10]:
sec_lowest = sorted(list(x[1] for x in l))
sec_lowest

[10.0, 10.0, 30.0]

In [16]:
desired_students = []
for i in l:
    for j in i:
        if j[1] == sec_lowest:
            desired_students.append(i[0])
desired_students

IndexError: string index out of range

In [13]:
i[0]

'c'

In [18]:
score_list = []; # do not forget to declare a list
for _ in range(int(input())):
    name = input()
    score = float(input())
    
    # Nested Lists in Python - Hacker Rank Solution START
    score_list.append([name, score])
second_highest = sorted(set([score for name, score in score_list]))[1]
print('\n'.join(sorted([name for name, score in score_list if score == second_highest])))
# Nested Lists in Python - Hacker Rank Solution END

4
a
10
b
20
c
20
d
30
b
c

In [19]:
second_highest

20.0

In [25]:
score_list = []; # do not forget to declare a list
for _ in range(int(input())):
    name = input()
    score = float(input())
    
    # Nested Lists in Python - Hacker Rank Solution START
    score_list.append([name, score])
second_highest = sorted(set([score for name, score in score_list]))[1]
print('\n'.join(sorted[name for name, score in score_list if score == second_highest]))
# Nested Lists in Python - Hacker Rank Solution END

4
a
10
b
20
c
20
d
30
b
c

In [24]:
second_highest

[10.0, 20.0, 30.0]

In [31]:
def swap_case(s):
    if s.islower() == True:
            return s.upper()
    else:
            return s.lower()
    

if __name__ == '__main__':
    s = input()
    result = ''.join([swap_case(i) for i in s])
    print(result)

assAMKOlskd .asd.
ASSamkoLSKD .ASD.

['a', 10.0]

In [39]:
def swap_case(s):
    for i in s:
        if i.islower() == True:
            print(i.upper(),end="")
        elif i.isupper():
            print(i.lower(), end = "")
        else:
            print(i,end = "")
 #       continue;
    return 

if __name__ == '__main__':
    s = input()
    result = swap_case(s)
    print(result)

dkdmd .. MKKAkk.
DKDMD .. mkkaKK.None

In [11]:
i = input()
i.islower()

'

False

In [16]:
j = '.'
j.upper()

'.'

In [40]:
def swap_case(s):
    for i in s:
        if i.islower() == True:
            o = i.upper()
        elif i.isupper():
            o = i.lower()
        else:
            o = i
 #       continue;
    return o

if __name__ == '__main__':
    s = input()
    result = swap_case(s)
    print(result)

shbshdASS.. ndd.
.

In [42]:
n = 6
for i in range(n):
    for j in range(i):
        print(j)

0
0
1
0
1
2
0
1
2
3
0
1
2
3
4

In [8]:
n = int(input())
l = []
for i in range(n):
    x[0] = input().split(" ")
    if x[0] == 'insert':        
        l.insert(int(input()),int(input()))
    elif x[0] == 'pop':
        l.pop()

1
insert 0 9

In [9]:
print(l)

[]

In [10]:
l = [1,2,2]
l.insert(0,5)

In [11]:
l

[5, 1, 2, 2]

In [12]:
l.pop()
l

[5, 1, 2]